.header {
  display: flex;
  background-color: #3e3e3e;

  &__list {
    display: flex;
  }

  &__list-item > a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #d3ea87;
    }

    &:active,
    &:focus {
      opacity: 0.4;
    }
  }

  &__list-item:not(:last-child) {
    margin-right: 15px;
  }

  @media (max-width: 720px) {
    display: none;
  }
}
