@import 'header';
@import 'footer';
@import 'social';
@import 'pay-screen';
@import 'pay-systems';
@import 'pay-buttons';
@import 'form';

body {
  font: 14px "Roboto", "Arial", sans-serif;
  margin: 0;
}

body, html {
  height: 100%;
}

ol, ul {
  padding-left: 0;
  list-style-type: none;
}

.container__content {
  margin: 0 auto;
  max-width: 1500px;
}

.container__page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

