.pay-screen {
  padding: 100px 20px;
  &__wrapper {
    padding: 80px 20px;
    max-width: 700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 30% auto;
    background-position: center top;
    border-radius: 8px;
    box-shadow: inset 0 0 0 2px #f6f6f6;

    &:hover,
    &:focus {
      transition: box-shadow .5s,-webkit-box-shadow .5s;
      box-shadow: 0 4px 16px rgb(0 0 0 / 12%);
    }
  }

  &--mts {
    background-image: url("/img/mts.png");
  }

  &--beeline {
    background-image: url("/img/beeline.png");
  }

  &--megafon {
    background-image: url("/img/megafon.png");
  }

  &__header {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: .5px;
    color: #333;
  }

  &__privacy {
    font-size: 12px;
  }

  &__privacy-link {
    text-decoration: none;
    color: #34aaf2;

    &:hover,
    &:focus {
      color: indianred;
    }
  }

  &__button-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__button-item {

  }
}
