.social {
  display: block;

  &__link {
    background-size: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  &__link--telegram {
    background-image: url("/img/tg.svg");
  }

  &__link--instagram {
    background-image: url("/img/insta.svg");
  }
}
